.d-flex.flex-column.align-items-center.container-xxl
  .container.d-flex.flex-column.align-items-center.mt-5
    .col-5
      = form_with(model: @user, url: '/register', method: :post) do |f|
        .text-center
          %h1.fs-3.fw-bolder Sign Up
          .text-muted.fs-7 Want to join the us? Sign up an account to add new postings.
        .d-flex.flex-column.mt-5
          = f.label :email, 'Email *', for: 'email', class: 'fw-bold fs-6 mb-1'
          = f.email_field :email, required: true, class: 'form-control mb-4 form-control-solid', placeholder: 'Enter your email address'
        .d-flex.flex-column
          = f.label :password, 'Password *', for: 'password', class: 'fw-bold fs-6 mb-1'
          = f.password_field :password, required: true, class: 'form-control mb-4 form-control-solid', placeholder: 'Enter your password'
        .d-flex.flex-column
          = f.label :first_name, 'First Name *', for: 'password', class: 'fw-bold fs-6 mb-1'
          = f.text_field :first_name, required: true, class: 'form-control mb-4 form-control-solid', placeholder: 'Enter your first name'
        .d-flex.flex-column
          = f.label :last_name, 'Last Name *', for: 'password', class: 'fw-bold fs-6 mb-1'
          = f.text_field :last_name, required: true, class: 'form-control mb-4 form-control-solid', placeholder: 'Enter your last name'
        .d-flex.justify-content-center
          = f.submit "Register", class: 'btn btn-primary'
